<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rt.modules.dragon.mapper.TbCoreUserOpenMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rt.modules.dragon.entity.TbCoreUserOpen">
        <result column="guid" property="guid" />
        <result column="openid" property="openid" />
        <result column="open_type" property="openType" />
    </resultMap>

</mapper>
