<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rt.modules.electricity.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rt.modules.electricity.entity.Order">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="uid" property="uid" />
        <result column="e_id" property="eId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_code" property="goodsCode" />
        <result column="type" property="type" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="money" property="money" />
        <result column="status" property="status" />
        <result column="pay_time" property="payTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_flag" property="deleteFlag" />
        <result property="collegeName" column="college_name"/>
        <result property="schoolName" column="school_name"/>
        <result property="courseNames" column="course_names"/>
        <result property="userName" column="user_name"/>
        <result property="userPhone" column="user_phone"/>
    </resultMap>

    <select id="pageOrders" resultType="com.rt.modules.electricity.vo.OrderVO">
        SELECT o.* FROM u_order o
        <where>
            AND o.delete_flag=0
            <if test="queryVo.orderNo!=null and queryVo.orderNo!=''">
                AND (o.order_no like '%${queryVo.orderNo}%')
            </if>
            <if test="queryVo.status != null ">
                AND o.status = #{queryVo.status}
            </if>
        </where>
        ORDER BY o.id DESC
    </select>

</mapper>
